@use '../general/variables';
@use '../general/fonts';

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 82px;
  background-image: url('../assets/images/bg-snow.png');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
    padding: 60px 8px;
  }
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: variables.$color-white;
  border-radius: 20px;
  width: 100%;
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
}

.about__text-section {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 60px;
  @media screen and (max-width: 650px) {
    width: 100%;
  }
  @media screen and (max-width: 480px) {
    padding: 0 20px;
  }
}

.about__text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 20px;
  max-width: 426px;
  padding: 60px 0;
}

.about__caption {
  @include fonts.font_caption;
  color: variables.$color-primary;
  margin: 0;
}

.about__title {
  @include fonts.font_header2;
  color: variables.$color-dark;
  margin: 0;
}

.about__description {
  @include fonts.font_paragraph;
  color: variables.$color-dark;
  margin: 0;
}

.about__image {
  background: url(../assets/images/santa.png) center center/cover no-repeat;
  height: 528px;
  width: 50%;
  border-radius: 20px;
  @media screen and (max-width: 650px) {
    width: 100%;
  }
}
