@use '../general/variables';
@use '../general/fonts';

.footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 60px 82px;
  @media screen and (max-width: 768px) {
    padding: 60px 8px;
  }
}

.footer__card-container {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-bottom: 60px;
  @media screen and (max-width: 1250px) {
    flex-direction: column;
  }
}

// Social
.footer__social {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.icon-social {
  width: 40px;
  height: 40px;
  padding: 8px;

  & svg path {
    transition: stroke 0.3s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover > svg > path {
      stroke: variables.$color-primary;
    }
  }
}

.footer__copyright {
  @include fonts.font_paragraph;
  margin: 0 0 12px 0;
}

.footer__school-link {
  @include fonts.font_caption;
  color: variables.$color-dark;
  text-decoration: none;
  transition: color 0.3s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: variables.$color-primary;
    }
  }
}
