@use '../general/variables';
@use '../general/fonts';

.gift-section {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.gift__wrapper {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  padding: 60px 82px;
  border-radius: 20px;
  background-color: variables.$color-primary;
  background-image: url(../assets/images/bg-garland.png);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}

.gift__title {
  @extend %font_header1;
  width: 426px;
  margin: 0;
  text-align: center;
  color: variables.$color-white;
}

.gift__tag-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  align-items: center;
  color: variables.$color-white;
}

.gift__tag {
  @extend %font_action-small;
  padding: 12px 20px;
  transition: all 0.4s;

  &.inactive {
    &:hover {
      cursor: pointer;
      background-color: variables.$color-white-20;
      border-radius: 12px;
    }
  }  

  &.active {
    cursor: auto;
    background-color: variables.$color-white-20;
    border-radius: 12px;
  }
}

.gift__card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}