@use '../general/variables';
@use '../general/fonts';

$pseudo-elem-width: 20px;
$header-height: 64px;
$menu-to-close-delay: 0.3s;

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 82px;
  @media screen and (max-width: 768px) {
    padding: 12px 8px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.logo__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../assets/icons/logo_snowflake.svg);
}

.logo__text {
  @include fonts.font_action-small;
  color: variables.$color-dark;
}

.header__navigation {
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: -100%;
    top: $header-height;
    background-color: variables.$color-white;
    width: 100%;
    //to avoid the red line between the header and the menu
    height: calc(100% - $header-height + 1px);  
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
  }

  &.open {
    visibility: visible;
    transform: translateX(-100%);
    opacity: 1;
  }
}

.navigation__list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8px;
  margin: 0px;
  padding: 0px;
  @media screen and (max-width: 768px) {
    flex-flow: column nowrap;
    align-items: center;
  }
}

.navigation__elem {
  list-style-type: none;
}

.navigation__elem span,
.navigation__link {
  display: inline-block;
  padding: 12px 20px;
  @include fonts.font_action-small;
  color: variables.$color-dark;
  @media screen and (max-width: 768px) {
    @include fonts.font_action-large;
  }
}

.navigation__link {
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
      color: variables.$color-primary;
      background-color: variables.$color-primary-10;
      border-radius: 12px;
    }
  }
}

.burger-button {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;

  &::before,
  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    width: $pseudo-elem-width;
    height: 0;
    border: 0.5px solid variables.$color-dark;
    background-color: variables.$color-dark;
    border-radius: 2px;
    right: calc(50% - $pseudo-elem-width / 2);
    transition: all 0.4s;
  }
  &::before {
    top: 15px;
  }
  &::after {
    bottom: 15px;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      cursor: pointer;
    }
  }
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
  &.open::before {
    transform: rotate(-45deg);
    top: 50%;
  }
  &.open::after {
    transform: rotate(45deg);
    top: 50%;
  }
}
