@use '../general/variables';
@use '../general/fonts';

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 82px;
  @media screen and (max-width: 768px) {
    padding: 12px 8px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
}

a.logo {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.logo__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../assets/icons/logo_snowflake.svg);
}

.logo__text {
  @extend %font_action-small;
  color: variables.$color-dark;
}

.header__navigation {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8px;
  margin: 0px;
  padding: 0px;
}

.navigation__elem {
  list-style-type: none;
}

.navigation__elem span,
.navigation__link {
  display: inline-block;
  padding: 12px 20px;
  @extend %font_action-small;
  color: variables.$color-dark;
  border-radius: 12px;
}

.navigation__link {
  text-decoration: none;
  transition: color 0.3s, background-color 0.3s;
  &:hover {
    cursor: pointer;
    color: variables.$color-primary;
    background-color: variables.$color-primary-10;
  }
}

.burger-button {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;

  &::before,
  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 20px;
    height: 0;
    border: 0.5px solid variables.$color-dark;
    border-radius: 2px;
    right: 50%;
    transform: translateX(50%);
  }
  &::before {
    top: 15px;
  }
  &::after {
    bottom: 15px;
  }

  @media screen and (max-width: 768px) {
    display: inline-block;
  }
}
