@use '../general/variables';
@use '../general/fonts';

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 82px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.logo__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../assets/icons/logo_snowflake.svg);
}

.logo__text {
  @extend %font_action-small;
  color: variables.$color-dark;
}

.navigation {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8px;
  margin: 0px;
  padding: 0px;
}

.navigation__elem {
  list-style-type: none;
}

.navigation__link {
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;
  @extend %font_action-small;
  color: variables.$color-dark;
  border-radius: 12px;
  transition: color 0.3s, background-color 0.3s;
  &:hover {
    cursor: pointer;
    color: variables.$color-primary;
    background-color: variables.$color-primary-10;
  }
}
