@use '../general/variables';
@use '../general/fonts';

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  background-image: url(../assets/images/bg-snow.png), url(../assets/images/bg-ball.png);
  background-position: center center, center center;
  background-size: 1440px, 1440px;
  background-repeat: no-repeat, no-repeat;
}

.hero__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 12px;
  width: 426px;
  padding: 60px 0px;
  color: variables.$color-white;
}

.hero__caption {
  @extend %font_caption;
  margin: 0;
}

.hero__title {
  @extend %font_header1;
  text-align: center;
  margin: 0px;
}

// 'Explore magical gifts' link-button is in '../components/buttons'
