@use './variables';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0;
  background-color: variables.$color-white;
}

.wrapper,
.main-wrapper {
  width: 1440px;
  margin: 0 auto;
}

.main-wrapper {
  background-color: variables.$color-primary;
  border-radius: 20px;
}
