@use './abstracts';

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0;
  background-color: abstracts.$color-white;
  @extend %font-prim;
}

.wrapper,
.main-wrapper {
  width: 1440px;
  margin: 0 auto;
}

.main-wrapper {
  background-color: abstracts.$color-primary;
  border-radius: 20px;
}