@use '../general/variables';
@use '../general/fonts';

// 'Explore magical gifts' button-links
.hero__link-button,
.cta__link-button {
  background-color: variables.$color-dark;
  padding: 20px 32px;
  border-radius: 20px;
  @extend %font_action-small;
  color: variables.$color-white;
  text-decoration: none;
  transition: color 0.4s, background-color 0.4s;
  &:hover {
    cursor: pointer;
    background-color: variables.$color-white;
    color: variables.$color-dark;
  }
}
