@use '../general/variables';
@use '../general/fonts';

$cross-line-length: 28px; // Math.sqrt(2 * (20 ^ 2))

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: variables.$color-overlay;
}

.modal-window {
  position: relative;
  max-width: 400px;
  background-color: variables.$color-white;
  border-radius: 20px;
  margin: auto 8px;
}

.modal__close-button {
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 12px;
  right: 12px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;    
    width: $cross-line-length;
    height: 0;
    border: 0.5px solid variables.$color-dark;
    background-color: variables.$color-dark;
    border-radius: 2px;
  }
  &:before {
    transform: translate(50%, -50%) rotate(-45deg);
  }
  &:after {
    transform: translate(50%, -50%) rotate(45deg);
  }
  &:hover {
    cursor: pointer;
  }
}

.modal__image {
  height: 230px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  background-position: center;
  background-size: cover;
  background-color: variables.$color-background;
  &_work {
    background-image: url(../assets/images/gift-for-work.png);
  }
  &_health {
    background-image: url(../assets/images/gift-for-health.png);
  }
  &_harmony {
    background-image: url(../assets/images/gift-for-harmony.png);
  }
}

.modal__text {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 20px;
}

.modal__text-block {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  & h4 {
    @include fonts.font_header4;
    margin: 0;
  }
}

.modal__tag {
  &_work {
    color: variables.$color-tag-purple;
  }
  &_health {
    color: variables.$color-tag-green;
  }
  &_harmony {
    color: variables.$color-tag-pink;
  }
}

.modal__title {
  @include fonts.font_header3;
  margin: 0;
}

.modal__description {
  @include fonts.font_paragraph;
  margin: 0;
}

.superpowers__row {
  display: flex;
  gap: 12px;
}

.superpowers__title {
  @include fonts.font_paragraph;
  margin: 0;
  align-self: baseline;
  flex-grow: 1;
  text-transform: capitalize;
}

.superpowers__value {
  @include fonts.font_paragraph;
  margin: 0;
  align-self: baseline;
  width: 42px;
  text-align: right;
}

.superpowers__snowflakes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 112px;
}

.snowflake-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/icons/snowflake-red.svg);

  &.invisible {
    background-image: url(../assets/icons/snowflake-pale.svg);
  }
}